#$ vendor/bin/phpstan analyze

includes:
    # @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    # Include this extension, if not already autoloaded via composer
    # - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
		# Missing constants, function and class stubs
        - %currentWorkingDirectory%/vendor/figuren-theater/phpstan/ft-stubs.php

